{% extends "include/homepage/HomeBase.html" %}

{% block pageTitle %}
	Contact Us
{% endblock pageTitle %}

{% block head %}
<style type="text/css">
.left{
	text-align: left;
	padding-left: 25px;
	padding-bottom: 1px;
}

#container{
	padding: 25px 0px 25px 0px !important;
}

.name{
	font-family: "myriad-pro",sans-serif;
	font-size: 20px;
}

.headingGroup{
	padding: 0px 0px 0px 5px !important;
	margin: 5px 0px 25px 20px !important;
	border: none !important;
}

.testimonial{
	padding-left:35px !important;
}

.testimonial .quote{
	padding: 3px 0px 0px 15px !important;
}

.role{
	font-size: 15px;
	font-style: italic;
	padding-left: 10px;
	vertical-align: middle;
}

.bio{
	margin-top: 4px;
	padding-left: 2px;
	display:block;
	font-family: verdana;
	font-size: 16px;
}


</style>
{% endblock  head%}



{% block content %}
		<div class="left">
			<h1>Contact Us</h1>
		</div>
		
		<div class="headingGroup">
			<h2>
				Interested in how Playquid can drastically improve social engagement at your company? 
				For a limited time, we're accepting enterprise customers into our free research-based pilot program which aims to 
				understand how social networks within companies function. <br /><br />
				Give us a call: <b>832-552-7982</b> or email us: <b>info@playquid.com</b> for more information.<br /><br />
				
			</h2>
		</div>
		




{% endblock content %}