{% extends "include/homepage/HomeBase.html" %}

{% block pageTitle %}
	Have fun together, do great work together
{% endblock pageTitle %}
{% block head %}



<style type="text/css">
.contact {
font-size: 24px;
font-family: "lucida grande","verdana", san-serif;
color: black;
font-weight: bold;
margin: 10px auto 10px auto;
line-height: 33px;
width: 842px !important;
color: #333333;
}
</style>
{% endblock %}


{% block content %}
		<div class="header">
			<h1>Build and measure <u>social wellness</u> with Playquid</h1>
			
			<h2><b>Playquid</b> encourages real world interaction & more importantly, helps you <b>measure</b> it.</h2>
		</div>
		
		<div id="video">
			<img src="/ui/img/intro/play.png" style="margin:auto auto auto auto;">
		</div>
		
		
		<div class="divider">
			<img src="/ui/img/intro/divider.jpg">
		</div>
		
		<div class="headingGroup">
			<h1>You have talented employees, build a culture that engages them.</h1>
			<h2>Employees quit when they feel lost & disconnected. Today's workforce is jumping from job to job in search of 
				meaning. How do top companies in today's economy retain their talent? By creating & maintaining a <b>family</b>.
			</h2>
		</div>
		
		<div class="testimonial">
			<div class="picture">
				<img src="/ui/img/intro/anon.jpg">
				
			</div>
			<div class="quote">
				“As a consultant at a Big Four accounting firms, I was traveling all the time. It was great! But, 
				I never had the chance to meet my co-workers.
				I  would’ve loved it if I had the chance to play a game of basketball, or soccer... 
				but <b>it was impossible to find people interested in the same activities as me</b>. I just quit and joined a smaller company where it feels more like home.”
				<br /><br /><strong style='color: #333333'>James (IT Consultant at a Big Four Accounting Firm)</strong>
			</div>
		</div>
		<br /><br />
		<div class="testimonial">
			<div class="picture">
				<img src="/ui/img/intro/tony.jpg">
				
			</div>
			<div class="quote">
				“Our goal at Zappos is to inspire -- not motivate -- employees to treat each other like family. 
				For example, <b>most Zappos employees when they leave the office leave to hang out with other Zappos employees.</b> 
				That's behavior you can't force upon employees. They actually have to want to do it.”
				<br /><br /><strong style='color: #333333'>Tony Hsieh (CEO of Zappos - 91% Retention Rate)</strong>
			</div>
		</div>

		
		<div class="divider" >
			<img src="/ui/img/intro/divider.jpg">
		</div>
		
		
		<div class="headingGroup">
			<h1>One big <i>active</i> family.</h1>
			<h2>
				Current approaches to wellness programs can be like band-aids. There's lots of good initiatives but many organizations lack the basics.
				Playquid is based on <strong><a href="/research">cutting-edge research</a></strong> showing a strong link between employee interaction & engagement. 
			</h2>
			
		</div>
		<img src="/ui/img/intro/research.gif">
		<div class="divider">
			<img src="/ui/img/intro/divider.jpg">
		</div>

		<div class="headingGroup">
			<h1>How does a large organization build a family culture?</h1>
			<h2>At Playquid, we’ve studied every step of the event organization process and made it painless. 
				Since it’s so easy to create events, more people do it and employee interaction skyrockets. Playquid is a place where everyone can see what's going on in an organization. <br />Here’s a sneak-peak:
			</h2>
		</div>
		<img src="/ui/img/intro/demo-screenshot.jpg" style="padding-right: 45px;">
		<div class="divider">
			<img src="/ui/img/intro/divider.jpg">
		</div>		
		<div class="headingGroup">
			<h1>Track your culture with weekly progress reports.</h1>
			<h2>Metrics drive our approach. You’ll get a monthly anonymized report with key metrics. 
				Semi-annually, we’ll examine the activity level in your organization and give you tips on how to increase employee engagement. Just as quality research informs our products, your decisions can be informed by quality metrics. <strong>With Playquid, you don't have to make cultural decisions in the dark.</strong>
			</h2>
		</div>
		<img src="/ui/img/intro/demo-report.jpg" style="padding-right: 34px;">
		<div class="divider">
			<img src="/ui/img/intro/divider.jpg">
		</div>
		
		
		<div class="headingGroup" style="display:none">
			<h1>We’re dedicated to increasing interaction between employees.</h1>
			<h2>Playquid is laser focused on increasing face-to-face interaction between your employees.
				Why is interaction important? Because <strong>people who have fun together do great work together.</strong> Check out <a href="http://www.facebook.com/playquid">our Facebook page</a> for more reasons why having an interactive culture matters.
			</h2>
		</div>
		
		<div class="contact">
		Interested? <a href="/contact">Call</a> or <a href="mailto:info@playquid.com">email</a> us to sign up for our Pilot Program
		</div>

{% endblock content %}
